VITE_FRONTEND_BASE_URL=http://localhost:8055

VITE_BACKEND_BASE_URL=http://localhost:8055

VITE_WARCRAFTLOG_ID=your-warcraftlog-id
VITE_WARCRAFTLOG_SECRET=your-warcraftlog-secret

VITE_BATTLENET_CLIENT_ID=your-battlenetclient-id
VITE_BATTLENET_CLIENT_SECRET=your-battlenetclient-secret
VITE_BATTLENET_REDIRECT_URI=http://localhost:5173/oauth/callback

VITE_DISCORD_CLIENT_ID=your-discord-client-id
VITE_DISCORD_CLIENT_SECRET=your-discord-client-secret
VITE_DISCORD_REDIRECT_URI=http://localhost:5173/auth/login/discord
